# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Release

on:
  workflow_dispatch:

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: |
         git config --global user.email "ci@example.com"
         git config --global user.name "continuous integration"
      - run: npm run release
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: git push
      - name: cleanup node_modules
        run: rm -rf node_modules
      - uses: actions/upload-artifact@v1
        with:
          name: update-version
          path: ./
